<form [formGroup]="contactForm" fxLayout="column" (submit)="submit()">
  <div fxLayout="row">
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Frist Name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error *ngIf="contactForm.controls['firstName'].hasError('required')">
        Please enter your first name
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Email Address</mat-label>
    <input matInput formControlName="email" />
    <mat-error
      *ngIf="contactForm.controls['email'].hasError('required') || contactForm.controls['email'].hasError('email')">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Comments</mat-label>
    <textarea matInput formControlName="comments"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary">
    Submit your contact form
  </button>
</form>
